<!DOCTYPE html>
<html lang="en"><head><title>Bill Mill</title>
<!-- visitor counter that does not track personal info -->
<script data-goatcounter="https://goatcounter.billmill.org/count"
        async src="//goatcounter.billmill.org/count.js"></script>
<link rel="stylesheet" href="css/960css/reset.css" />
<link rel="stylesheet" href="css/style.css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head><body>
<div class="container">
    <div class="grid_3">
        <a href="https://billmill.org"><img src="images/logo.png" alt="Bill Mill web site logo"></a>
    </div>
    <div class="clear"></div>

    <div class="grid_13 prefix_3 content">
        <h1>{{ title }}</h1>
        <div class="blogdate">{{{ datelink }}}</div>

        {{{ content }}}

    </div>

    <div class="grid_16 footer">
        Bill Mill • <a href="mailto:bill@billmill.org">bill@billmill.org</a>
    </div>
</div>
</body></html>
