<html><head><title>Bill Mill</title>
<link rel="stylesheet" href="960css/reset.css" />
<link rel="stylesheet" href="960css/960.css" />
<link rel="stylesheet" href="style.css" />
</head><body>
<div class="container_16">
    <div class="grid_3">
        <a href="http://billmill.org"><img src="logo.png"></a>
    </div>
    <div class="grid_13">
        <span id="headertxt">My name is Bill Mill. I like to hack, write, speak, play games and take pictures.</span>
    </div>
    <div class="clear"></div>

    <div class="grid_13 prefix_3 content">
        <h1>{{ title }}</h1>

        {{ content }}

        <h4>{{ datelink }}</h4>
    </div>
</div>
</body></html>
