<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bill Mill</title>
    <link
      rel="alternate"
      type="application/atom+xml"
      title="My Name Rhymes"
      href="https://billmill.org/Atom"
    />
    <!-- visitor counter that does not track personal info -->
    <script
      data-goatcounter="https://goatcounter.billmill.org/count"
      async
      src="//goatcounter.billmill.org/count.js"
    ></script>
    <link rel="stylesheet" href="css/960css/reset.css" />
    <link rel="stylesheet" href="css/960css/960.css" />
    <link rel="stylesheet" href="css/style.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body class="index">
    <div class="container_16">
      <div class="grid_3">
        <a href="https://billmill.org"
          ><img src="images/logo.png" alt="Bill Mill web site logo"
        /></a>
      </div>
      <div class="clear"></div>

      <div class="grid_4 prefix_3 mainboxes">
        <h2>Projects</h2>

        <h3>
          <a href="https://billmill.org/reassess/">Portland Reassessment Map</a>
        </h3>
        <p>
          Portland, Maine reassessed its home prices after more than a decade,
          so I scraped the tax data and mapped what houses gained and lost value
        </p>

        <h3><a href="https://llimllib.github.io/nbastats/">NBA Stats</a></h3>
        <p>
          A tool for visualizing NBA statistics, and a playground for me to test
          web databases and visualizations.
        </p>

        <h3><a href="https://github.com/llimllib/limbo">limbo</a></h3>
        <p>A simple, clean, easy to modify Slack chatbot</p>

        <h3><a href="https://billmill.org/roundbracket/">Radial Bracket</a></h3>
        <p>
          A radial, interactive NCAA tournament bracket visualizing Nate
          Silver's NCAA projections.
        </p>

        <h3>
          <a href="https://billmill.org/static/canvastutorial"
            >Canvas Tutorial</a
          >
        </h3>
        <p>Make a Breakout clone with HTML5's &lt;canvas&gt; element</p>

        <h3>
          <a href="http://llimllib.github.io/bloomfilter-tutorial/"
            >Bloom filters by example</a
          >
        </h3>
        <p>A demonstration and explanation of how to use Bloom filters</p>

        <h3>
          <a href="http://llimllib.github.io/pymag-trees/"
            >Drawing Presentable Trees</a
          >
        </h3>
        <p>
          Tree drawing algorithms actually have an interesting, long history,
          and are fun to implement.
        </p>

        <h3>
          <a
            href="http://www.youtube.com/playlist?list=PLD397DB24E59FACC0&feature=plcp"
            >Ignite Baltimore Talks</a
          >
        </h3>
        <p>
          Two five minute, hopefully entertaining talks:
          <a href="http://www.youtube.com/watch?v=8EEZ3ksPWK0"
            >The Malthusian Tower</a
          >
          and
          <a href="http://www.youtube.com/watch?v=toIVTNf8qAM"
            >Cognitive Bias and Cholera</a
          >
        </p>

        <h3>
          <a href="https://billmill.org/ncaa-bracket-randomizer/"
            >NCAA Bracket Randomizer</a
          >
        </h3>
        <p>
          Generate a random but reasonable NCAA bracket for your office pool
        </p>

        <h3>
          <a href="https://billmill.org/static/viewji/viewji.html">Viewji</a>
        </h3>
        <p>
          <a href="https://billmill.org/static/viewji/viewji.html">Viewji</a> is
          a clone of most of
          <a href="http://nodebox.net/code/index.php/Home">NodeBox</a> in
          javascript.
        </p>
      </div>

      <div class="grid_4 prefix_1 mainboxes">
        <h2>Blogs</h2>
        {{#blog_entries}}
        <h3><a href="{{ link }}">{{ title }}</a></h3>
        {{/blog_entries}}
      </div>

      <div class="grid_3 prefix_1 mainboxes">
        <h2>Elsewhere</h2>
        <h3></h3>
        <p><a href="mailto:bill@billmill.org">bill@billmill.org</a></p>
        <p><a href="http://notes.billmill.org">notes.billmill.org</a></p>
        <p><a href="http://journal.billmill.org">journal.billmill.org</a></p>
        <p>
          <a rel="me" href="https://hachyderm.io/@llimllib"
            >@llimllib@hachyderm.io</a
          >
        </p>
        <p><a href="http://github.com/llimllib">github.com/llimllib</a></p>
        <p><a href="http://flickr.com/llimllib">flickr.com/llimllib</a></p>
      </div>

      <div class="grid_16 footer">
        Bill Mill • <a href="mailto:bill@billmill.org">bill@billmill.org</a>
      </div>
    </div>
  </body>
</html>
