<?xml version="1.0" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{blog_title}}</title>
        <link>{{base_url}}</link>
        <description>{{blog_desc}}</description>
        <language>en-us</language>
        <atom:link href="https://billmill.org/Rss" rel="self" type="application/rss+xml" />
        {{#blog_entries}}
        <item>
            <title>{{title}}</title>
            <guid isPermaLink="true">{{link}}</guid>
            <link>{{link}}</link>
            <description><![CDATA[{{{desc}}}]]></description>
            <pubDate>{{time}}</pubDate>
        </item>
        {{/blog_entries}}
</channel>
</rss>
